// Place all the styles related to the ventas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0;
  background: #0B3B0B;
  #head{
    color: #ffffff;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
  }

  #content{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    min-height: 500px;
    background: #ffffff;
    border: 1px solid #006400;


    #notice { background-color: #A4E7A0; border: 1px solid #26722D; }
    #error { background-color: #F0A8A8; border: 1px solid #900; }
    #notice, #error { width: 90%; margin: 0 auto 10px auto; padding: 5px; }
    #notice p, #error p { margin-left: 20px; padding: 0; font-size: .75em; color: #000; }
    #notice a, #error a { text-decoration: none; padding: 0 3px; }
    #notice a { border: 1px solid #26722D; color: #26722D; }
    #error a { border: 1px solid #900; color: #900; }
    #notice a:hover, #error a:hover { color: #333; border: 1px solid #333; }
  }

  #footer{
    with:80%;
    margin:0 auto;
    color:white;
  }
}
